body,
html {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: ghostwhite;
  /* overflow: hidden; */
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
}
#appBar {
  height: 90px;
  background-color: #090226;
}
#heading {
  color: white;
  margin-top: 20px;
  font-size: 40px;
  font-weight: 900;
}
#search-icon {
  width: 50px;
  height: 50px;
  margin-top: 10px;
  margin-left: 10px;
}
.header {
  margin: auto;
}
.container {
  margin: 100px auto 0 auto;
  display: flex;
  width: 90%;
}
@media (max-width: 768px) {
  .header {
    width: 100%;
  }
  #heading {
    font-size: 20px;
  }
  header {
    width: 100%;
  }
  #appBar {
    height: 50px;
  }
  #heading {
    margin-top: 5px;
    font-size: 25px;
    margin-left: 50px;
  }
  #search-icon {
    width: 40px;
    height: 40px;
    margin-top: 3px;
    margin-left: 5px;
  }
  .container {
    margin: 55px auto 0 auto;
    display: block;
    width: 95%;
  }
}
